@import 'null.css';
@import 'slider.css';
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.eot);
    src: url(../fonts/Gilroy-Medium.woff) format('woff'),
         url(../fonts/Gilroy-Medium.woff2) format('woff2'),
         url(../fonts/Gilroy-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.eot);
    src: url(../fonts/Gilroy-Bold.woff) format('woff'),
         url(../fonts/Gilroy-Bold.woff2) format('woff2'),
         url(../fonts/Gilroy-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'Gilroy';
    background: #ffffff;
}
.container{
    max-width: 945px;   
    margin: auto;
}
.title{
    font-size: 34px;
    font-weight: bold; 
}
.title::first-letter{
    text-transform: capitalize;
}
.text{
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

/* общие флексы */

.home__description,
.nav__list{
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
    justify-content: space-between;
}

/* навигация */
.nav{
    min-height: 80px;
    font-weight: bold;
    padding: 32px 0;
}
.nav::after{
    content: '';
    border: 1px solid #828282;
    width: 945px;
    height: 0px;
    display: block;
    margin: 25px auto 0 auto;;
}
.nav__list {
    color: #828282;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}
.nav__list li:hover,
.home__description p a:hover  {
    color: #070707;
}

/* обложка */
.home{
    height: 620px;
}
.home__description{
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
    align-items: center;
}
.home__description h1{
    font-size: 47px;
    line-height: 50px;
    text-transform: capitalize;
    color: #070707;
}
.home__description p {
    font-size: 18px;
    color: #070707;
    line-height: 22px;
}
.home__description p:last-child{
    color: #828282;
    transform: rotate(-90deg);
}
.home__img{
    height: 385px;
    background: url(../img/cover.jpg);
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

/* about */
.about{
    background: #F6F6F6;
    min-height: 480px;
    text-align: center;
}
.about__title{
    padding-top: 120px;
    margin-bottom: 22px;
}

.about__text{
    max-width: 485px;
    margin: 0 auto;
}
.about__text p:first-child{
    margin-bottom: 30px;
}
.about__text p:last-child{
    margin-top: 30px;
}

/* skills */
.skills{
    text-align: center;
    padding: 90px 0;
}
.skills__title{
    margin-bottom: 70px;
}
.skills__text {
    margin-bottom: 85px;
}

/* portfolio  */
.portfolio{
    background: #F6F6F6;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 95px;
}
.portfolio__title{
    margin-bottom: 55px;
}
.portfolio-item{
    margin-bottom: 100px;
    min-height: 450px;
    position: relative;
    perspective: 1000px;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}
.portfolio-item__img,
.portfolio-item__title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
    justify-content: center;
    transition: 1s;
    backface-visibility: hidden;
}
.portfolio-item__img{
    margin-bottom: 45px;
}
.portfolio-item__img img{
    height: 100%;
}
.portfolio-item__title{
    text-decoration: underline;
    transform: rotateY(180deg);
    background: #fff;
}
.portfolio-item__title::first-letter,
.contacts__text::first-letter,
.contacts__btn::first-letter,
.contacts__suptext::first-letter {
    text-transform: uppercase;
}
.portfolio-item:hover .portfolio-item__img{
    transform: rotateY(180deg);
}
.portfolio-item:hover .portfolio-item__title{
    transform: rotateY(360deg);
}

/* contacts */
.contacts{
    text-align: center;
    padding: 115px 0;
}
.contacts__title{
    margin-bottom: 30px;
}
.contacts__text{
    margin-bottom: 40px;
}
.contacts__suptext{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 45px;
}
.contacts__btn a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background: #070707;
    color: #ffffff;
    width: 180px;
    height: 43px;
    border: 1px solid #070707;
    border-radius: 30px;
    padding: 13px 30px;
}
.contacts__btn a:hover{
    background: #828282;
}

/*contacts-modal */ 
.modal{
    max-width: 400px;
    max-height: 130px;
    /* padding: 20px 10px; */
    border-radius: 4px;
    background: #F6F6F6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 99999999;
    text-align: center;
}
.modal .modal-block__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 7px;
    cursor: pointer;
    display: block;
    color: #000;
    font-size: 20px;
}
.modal-overlay {
    z-index: 9999999;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
.modal__item svg {
    width: 50px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .modal {
        width: auto;
        min-width: 575px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .modal {
        width: auto;
        min-width: auto;
    }
    .modal-block__p {
        padding: 0 80px;   
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    .modal-block__p {
        padding: 0 30px;
    }
}











