* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #fafafa;
}
.container{
    max-width: 1200px;
    min-height: 100vh;
}
.main{
    font-style: 35px;
    color: green;
}